[
  {
    "name": "Aron Bjorn Laar",
    "description": "Werkzaam bij 'De Ziekenboeg' als cardioloog.",
    "bsn": "999991772"
  },
  {
    "name": "Keira Smith",
    "description": "Werkzaam bij 'De Ziekenboeg' als klinisch geriater, reumatoloog en specialist ouderengeneeskunde.",
    "bsn": "900020108"
  }
]
