[
  {
    "name": "Aaron Bjorn der See",
    "description": "This is an example of a doctor named Aaron",
    "bsn": "999991772"
  },
  {
    "name": "Keira Smith",
    "description": "This is an example of a nurse called Keira Smith",
    "bsn": "900020108"
  }
]
